<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
        <link rel="stylesheet" href="./style/index.css">
    </head>
    <body>
        <section>
            <article id="gauche">
            </article>
            <article id="droite">
                <h1>Portfolio</h1>
                <p>
                    Bienvenue sur mon portfolio. Vous trouverez ici mes réalisations et mes projets.
                    Vous trouverez aussi mes informations personnelles, mes compétences et mes expériences ainci que mon CV.
                    Le site est en cours de développement donc certaines pages ne sont pas encore disponibles ou ne sont pas complètes.
                </p>
                <p>
                    Pour accedé à mes réalisations, mes projets, mes informations personnelles, mes compétences et mes expériences, cliquez sur les liens ci-dessous.
                </p>
                <a href="./index.php?link=projectList">
                    acces au site ici
                </a>
            </article>
        </section>
    </body>
</html>