section
{
    justify-content: flex-end;
    min-height: 100vh;
    background: rgb(38, 200, 239) url("../img/fond.jpg") no-repeat fixed;
}

#droite
{
    display: flex;
    flex-direction: column;
    min-width: 60%;
    max-width: 60%;
    background-color: #0f8cac;
}

h1
{
    display: flex;
    font-size: 5em;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: #fff 0 0 30px;
}

p
{
    display: flex;
    font-size: 1.2em;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

a
{
    text-decoration: underline;
    color: #f0f0f0;
    font-size: 1.7em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

a:hover
{
    color: #FF5733;
}