section
{
    justify-content: center;
}

article>a.Quarter
{
    display: flex;
    flex-direction: column;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

article.Quarter
{
    display: flex;
    background-color: #3c8dc4; /*3edbfe*/
    min-width: 300px;
    max-width: 23vw;
    min-height: 25vh;
    margin: 1% 0.5% 1%;
    border: #fff solid 2px ;
    border-radius: 10px;
    box-shadow: #000000 10px 10px 15px -2px;
} 

article.Quarter:hover
{
    border: #FF5733 solid 2px;
    box-shadow: #000000 10px 10px 15px 2px;
}

h1.Quarter
{
    display: flex;
    font-size: 2em;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    /* text-shadow: #fff 0 0 30px; */
}

a>p.Quarter
{
    display: flex;
    font-size: 1.2em;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    text-align: justify;
    width: 95%;
}

img.Quarter
{
    display: flex;
    width: 95%;
    margin:auto;
    border: #000000 solid 1px;
}