/* --------------------------------- global --------------------------------- */
body
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
    background-color: #0f8cac;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 0;
    padding: 0;
}

/* --------------------------------- header --------------------------------- */
nav
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0a334f;
    height: 10vh;
    width: 100%;
    /*margin-bottom: 1%;*/
    box-shadow: #000000 0px 10px 15px -5px;
}

li>a
{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

li>a:hover
{
    color: #FF5733;
}

ul.menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
}

li.menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    font-size: 1.5em;
    font-weight: bold;
    /* text-shadow: #fff 0 0 30px; */
}

/* --------------------------------- body --------------------------------- */

section.main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    

    color: #f0f0f0;
}

mark
{
    background-color: transparent;
    color: #f0f0f0;
    padding: 0.5%;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

/* --------------------------------- footer --------------------------------- */
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0a334f;
    height: 10vh;
    width: 100%;
    margin-top: auto;
}

footer>p
{
    display: flex;
    color: #fff;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}